<h1>Turmrechnen</h1>

<table> 
  <tr>
    <td>
      <b> Start Value: </b> 
    </td>
    <td>
      <input type="number" [(ngModel)]="num">
    </td>
  </tr>
  <tr>
    <td>
      <b>Height:</b>
    </td>
    <td>
      <input type="number" [(ngModel)]="height" min='0'>
    </td>
    <td class="error" [hidden]="height >= 2">
      Height nust be >= 2
    </td>
  </tr>
  <tr>
    <td colspan="2" align="center">
       <button (click)="calculate()"> Calculate </button>
    </td>
  </tr>
  <tr *ngFor="let item of tower; index as i">
    <td>{{tower[i]}}</td>
  </tr>
</table>